<div>
    <h3>${options.name}</h3>
    <table class="${baseClass}-infotable">
        <tr>
            <td>${nls.WorkspaceInfo.Title}</td>
            <td>${options.title}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Build}:</td>
            <td>${options.buildNumber}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Filesize}:</td>
            <td>${options.fileSize}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Category}:</td>
            <td>${options.category}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Description}:</td>
            <td>${!options.description}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.History}:</td>
            <td>${!options.history}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.LastSaveBuild}:</td>
            <td>${options.lastSaveBuild}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.LastSaveDate}:</td>
            <td>${options.lastSaveDate}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Resources}:</td>
            <td>${!options.resources}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Services}:</td>
            <td>${!options.services}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Type}:</td>
            <td>${options.type}</td>
        </tr>
        <tr>
            <td>${nls.WorkspaceInfo.Usage}:</td>
            <td>${!options.usage}</td>
        </tr>
    </table>
</div>