<div>
    <h4 data-dojo-attach-point="_title">${!title}</h4>
    <div class="fmeportal-help" style="display:none" data-dojo-attach-point="_description">${!description}</div>
    <div data-dojo-type="dijit/form/Form" class="fmeportal-form" data-dojo-attach-point="_form">
        <ul data-dojo-attach-point="_formList"></ul>
        <div data-dojo-attach-point="_serviceModeContainer">
            <label>
                <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_serviceMode" /> ${nls.GenerateForms.EmailResults}
            </label>
            <input style="display:none;" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="_email" data-dojo-props="regExp: dojox.validate.regexp.emailAddress, placeholder: '${nls.GenerateForms.EmailPlaceholder}'" />
        </div>
    </div>
    <div class="fmeportal-orderbutton" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_order">${nls.GenerateForms.ButtonOrder}</div>
    <div data-dojo-attach-point="_serviceType" style="display:none;float:right;"></div>
</div>